.team {
  @extend %section;
  background-color: var(--team-background-color);

  &__container {
    @extend %container;
    @media screen and (max-width: 767px) {
      --items: 1;
    }

    @media screen and (min-width: 768px) {
      --items: 2;
    }

    @media screen and (min-width: 1200px) {
      --items: 4;
    }
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    background-color: var(--background-body-color-font-baner);
  }

  &__content {
    padding-top: var(--indent-main);
    padding-bottom: var(--indent-main);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team__foto {
    margin-right: auto;
    margin-left: auto;


    @media screen and (min-width: 480px) {
      width: 450px;
 
    }

    @media screen and (min-width: 768px) {
      width: 354px;

    }
    @media screen and (min-width: 1200px) {
      width: 270px;

    }
  }

  &__name {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--font-color-title-h2-h3);
    margin-bottom: 10px;
  }

  &__post {
    font-size: 16px;
    line-height: calc(19 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 16px;
  }
}
